h1 {
    text-align: center;
    color: blue;
    background-color: yellow;
    border: 1px solid black;
  }
body {
  background-image: url("matrix.jpg");
  background-attachment: fixed;
  background-size: contain;
}
p {
    color: white;
  }

img."arbre"{
    image align: center;
    size: 1000px;
    background: cover;
}
table{
  border-collapse: collapse;
}

th, td{
  border: 1px solid black;
  padding: 10px;
}
.tableau1 {
  border-collapse: collapse;
  border: 10px;
  border-radius: 5px;
  background-color: aqua;
}

table {
  table-layout: fixed;
  background-color: aqua;
  width: 100%;
  border-collapse: collapse;
  border: 3px solid purple;
}

thead th:nth-child(1) {
  width: 30%;
}

thead th:nth-child(2) {
  width: 20%;
}

thead th:nth-child(3) {
  width: 15%;
}

thead th:nth-child(4) {
  width: 35%;
}

th, td {
  padding: 20px;
}
#solidarite{
  font-size: 5pc
}
.bienveillance{
  font-size: 5pc
}
.perseverance{
  font-size: 5pc
}